.inner{
    max-width: 90%;
    margin: 0 auto;
}

header{
    width: 100%;
}

main{
    width: 100%;
}
.add-user-form-field input{
    display: block;
}

.view-area{
    display: none;
}

.delete-user-form-field input{
    display: block;
}

button{
    margin-top: 0.5rem;
    cursor: pointer;
} 

footer{
    width: 100%;
}